[user]
	email = jonathanschweder@gmail.com
	name = Jonathan Schweder
[core]
	editor = code --wait
[diff]
	algorithm = histogram
	wordRegex = [\w]+
	minimal = true
	textconv = diff --textconv
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --diff $MERGED
